@page
@model Bloggie.Web.Pages.ForgotPassword.ResetPasswordModel
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row col-md-10 offset-md-1">
    <h1 class="text-primary text-center pt-2">Reset Password</h1>
    <form method="post">
        <input asp-for="model.Email" hidden />
        <div class="border p-2 rounded">
            <p class="text-center">Reset your password</p>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="model.Password" class="col-12"></label>
                <div class="col-md-12">
                    <input asp-for="model.Password" class="form-control" />
                    <span asp-validation-for="model.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="model.ConfirmPassword" class="col-12"></label>
                <div class="col-md-12">
                    <input asp-for="model.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="model.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group pt-3">

                <div class="col-md-6 offset-md-3">
                    <button class="btn btn-success form-control" type="submit">
                        Reset Password
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}