@page
@model Bloggie.Web.Pages.User.RegistrationModel
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="row col-md-10 offset-md-1">
<h1 class="text-primary text-center pt-2">Register</h1>
<form method="post" >
    <div class="border p-2 rounded">
        <p class="text-center">Create a new account</p>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="registrationModel.Email" class="col-12"></label>
            <div class="col-md-12">
                <input asp-for="registrationModel.Email" class="form-control" />
                    <span asp-validation-for="registrationModel.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="registrationModel.Name" class="col-12"></label>
            <div class="col-md-12"> 
                <input asp-for="registrationModel.Name" class="form-control" />
                <span asp-validation-for="registrationModel.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="registrationModel.Password" class="col-12"></label>
            <div class="col-md-12">
                <input asp-for="registrationModel.Password" class="form-control" />
                <span asp-validation-for="registrationModel.Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="registrationModel.ConfirmPassword" class="col-12"></label>
            <div class="col-md-12">
                <input asp-for="registrationModel.ConfirmPassword" class="form-control" />
                <span asp-validation-for="registrationModel.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="registrationModel.RoleSelected" class="col-12"></label>
            <div class="col-md-12">
                <select asp-for="registrationModel.RoleSelected" asp-items="@Model.registrationModel.RoleList" class="form-select">
                    <option disabled selected>--Select Role--</option>
                </select>
                    <span asp-validation-for="registrationModel.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group pt-3">

            <div class="col-md-6 offset-md-3">
                <button class="btn btn-success form-control" type="submit">
                    Register
                </button>
            </div>
        </div>
            <div class="row">
                <div class="col-6">
                    <a asp-page="/User/Login"> Have a Account? Log In</a>
                </div>
    </div>
</form>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
