@using DB.Context
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> _signInManger
@inject UserManager<ApplicationUser> _usesrManager

<ul class="navbar-nav">
    @if (_signInManger.IsSignedIn(User))
    {
        <li class ="navbar-item">Hello  @_usesrManager.GetUserName(User)</li>
        <li class="nav-item">
            <form method="get" asp-page="/User/LogOff">
              <button type="submit" class="btn nav-link">Log Out</button>    
            </form>
        </li>
    }
  
    else
        {
            <li class="nav-item">
            <a class="nav-link" asp-page="/User/Registration">Register</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" asp-page="/User/LogIn">Login</a>
            </li>
        }
    
</ul>