@using DB.Context
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<ul class="navbar-nav">

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" href="#">Hello @UserManager.GetUserName(User)</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" method="get" class="form-inline" asp-page="/User/LogOff">
                <button type="submit" class="btn nav-link">Logout</button>
            </form>
        </li>
        
            var twofactorEnabled = ViewData["2FactorAuth"];

            if (twofactorEnabled != null && twofactorEnabled.ToString().ToLower() == "true")
            {
            <a asp-page="/TwoFactorAuthentication/RemoveAuthenticator"> Remove & Reset Authenticatior</a>
            }
        else
        {
            <li class="nav-item">
                <a class="nav-link" asp-page="/TwoFactorAuthentication/EnableAuthentication">Enable Two Factor Authentication</a>
            </li>
        }
       
        
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-page="/User/Login" asp-route-returnUrl="@Context.Request.Path">Login</a>
        </li>

    }
</ul>