@page
@model Bloggie.Web.Pages.Admin.Blog.BlogPostListModel
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="bg-secondary">
    <h1>All Blog Posts</h1>
</div>
@if(Model.blogList != null && Model.blogList.Any())
{
<div class="container">
    <table class="table">
        <thead>
            <tr>
            <td>Id</td>
            <td>Heading</td>
            <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var posts in Model.blogList)
            {
                <tr>
                    <td>@posts.Id</td>
                    <td>@posts.Heading</td>
                    <td><a href="/admin/blog/Edit/@posts.Id">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}
else
{
    <h3>There is still no Blogs</h3>
}