@page "{id:Guid}"
@model Bloggie.Web.Pages.Admin.Blog.EditModel
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="bg-secondary">
    <h1>Edit Blog Post</h1>
</div>
  <partial name="_NotificationPartial">
<div class="mx-auto p-2 text-center">


    <form method="post" asp-page="/admin/blog/edit">
        <div class="form-floating mb-3">
            <input asp-for="BlogPost.Id" type="text" class="form-control" readonly>
                <label asp-for="BlogPost.Id" class="form-label">ID</label>

        </div>
        <div class="form-floating mb-3">
                <input asp-for="BlogPost.Heading" type="text" class="form-control" id="exampleInputEmail1">
                <label asp-for="BlogPost.Heading" class="form-label">Heading</label>

        </div>
        <div class="form-floating mb-3">
                <input asp-for="BlogPost.PageTitle" type="text" class="form-control" id="exampleInputEmail1">
                <label asp-for="BlogPost.PageTitle" class="form-label">Page Title</label>

        </div>
            <div class="form-floating mb-3">
                <textarea asp-for="BlogPost.Content" class="form-control" style="height:100px" id="content"></textarea>
            </div>
        <div class="form-floating mb-3">
                <input asp-for="BlogPost.ShortDescription" type="text" class="form-control" id="exampleInputEmail1">
                <label asp-for="BlogPost.ShortDescription" class="form-label">Page Title</label>
        </div>

        <div class="form-floating mb-3">
                <input asp-for="BlogPost.FeaturedImageUrl" type="text" class="form-control" id="exampleInputEmail1">
                <label asp-for="BlogPost.FeaturedImageUrl" class="form-label">Featured Image Url</label>
        </div>
        <div class="form-floating mb-3">
                <input asp-for="BlogPost.FeaturedImageUrl" type="text" class="form-control" id="exampleInputEmail1">
                <label asp-for="BlogPost.FeaturedImageUrl" class="form-label">Url Handle</label>
        </div>

            <div class="form-floating mb-3">
                <input asp-for="Tags" type="text" class="form-control" id="exampleInputEmail1">
                <label asp-for="Tags" i class="form-label">Tags (comma seperated)</label>
            </div>

        <div class="col-12">
            <div class="form-check text-start">
                    <input asp-for="BlogPost.Visible" class="form-check-input" type="checkbox" id="gridCheck">
                    <label asp-for="BlogPost.Visible" class="form-check-label" for="gridCheck">
                    Is Visible
                </label>
            </div>
            <div class="justify-content-between">

            </div>
            <button type="submit" class="btn btn-primary m-3" asp-page-handler="Edit">Edit The Blog Post</button>
            <button type="submit" class="btn btn-danger m-3" asp-page-handler="Delete">Delete</button>
    </form>
</div>


    @section Scripts
    {
        <script>
            var editor = new FroalaEditor("#content");
        </script>
    }
